<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>This is home page</h1>
    <h3><%=  ["hello", "bonjur", "namaste"][0] %></h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius veritatis, voluptatibus ex reprehenderit dicta doloremque excepturi corrupti! Fugit, omnis? Mollitia nisi nemo aliquam id itaque tenetur autem dolores facere earum?</p>
    <button>clike me!</button>
</body>
</html>